body {
  padding-top: 60px;
  padding-bottom: 50px;
}

footer {
  font-size: xx-small;
}

footer a:link {
    text-decoration:none;
    font-weight: bold;  
}

form {
  padding-bottom: 20px;
}

.main-container {
    max-width: 960px;
    
}

#content {
    min-height: 480px;
}

.main-title {
    font-weight: lighter;
    color: #028299;
    padding-bottom: 20px;
}

.credit-profile {
    max-width: 220px;
    margin: auto;
    margin-bottom: 50px;
}

.panel-profile {
    height: 120px;
}

.panel-profile-img {
    max-width: 100px;
    margin-top: -70px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.panel-profile-text {
    padding: 15px;
}

.student-profile {
    max-width: 480px;
    margin: auto;
    margin-bottom: 50px;
}

.detail-profile-img {
    max-width: 100px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.list-profile-img {
    max-width: 32px;
    margin-top: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    border: 3px solid #fff;
    border-radius: 100%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
}

.main-list img {
  float: left;
}

.main-list p {
  padding-top: 10px;
  line-height: 0.3;
}

.gears {
    display: block;
    margin-left: auto;
    margin-right: auto
}

.main-list h6 {
    line-height: 0.3;
    color: #028299;
}


