<md-menu ng-controller="MenuCtrl" md-position-mode="target-right target">
    <md-button aria-label="Menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon> more_vert </md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
        <md-button ng-click="edit($index)">
            <div layout="row"><p flex>Editar elemento</p><md-icon> edit </md-icon></div>
        </md-button>
        </md-menu-item>
        <md-menu-item>
        <md-button ng-click="enable($index)">
            <div layout="row"><p flex>Ocultar elemento</p><md-icon> visibility </md-icon></div>
        </md-button>
        </md-menu-item>
        <md-menu-item>
        <md-button ng-click="delete($index)">
            <div layout="row"><p flex>Eliminar elemento</p><md-icon> delete </md-icon></div>
        </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>