<md-menu ng-controller="MenuCtrl" md-position-mode="target-right target">
    <md-button aria-label="Menu" class="md-icon-button" ng-click="openMenu($mdOpenMenu, $event)">
        <md-icon md-svg-icon="more_vert"></md-icon>
    </md-button>
    <md-menu-content width="4">
        <md-menu-item>
        <md-button ng-click="edit(item.student_id)">
            <div layout="row"><p flex>Editar alumno</p><md-icon md-svg-icon="edit"></md-icon></div>
        </md-button>
        </md-menu-item>
        <md-menu-item>
        <md-button ng-click="delete(item.student_id)">
            <div layout="row"><p flex>Eliminar alumno</p><md-icon md-svg-icon="delete"></md-icon></div>
        </md-button>
        </md-menu-item>
    </md-menu-content>
</md-menu>