  <!-- sidebar -->
  <md-sidenav layout-fill layout="column" class="md-sidenav-left md-whiteframe-z3" style="height: calc(100vh);" md-component-id="left" md-is-locked-open="$mdMedia('gt-md')">
      <md-toolbar class="md-tall md-hue-2">
        <span flex></span>
        <div layout="column" layout-align="center center" class="md-toolbar-tools-bottom inset">
          <user-avatar></user-avatar>
          <span></span>
          <div class="small">Firstname Lastname</div>
          <div class="small">email@domainname.com</div>
        </div>
      </md-toolbar>
      <md-list>
        <md-item>
            <a>
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
                <div class="inset">Inicio</div>
            </md-item-content>
            </a>
        </md-item>
        <md-item ng-repeat="item in menu">
          <a ng-href="{{item.link}}">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
              </div>
              <div class="inset">{{item.title}}
              </div>
            </md-item-content>
          </a>
        </md-item>
      <md-divider></md-divider>
      <md-subheader>Administracón</md-subheader>
        <md-item ng-repeat="item in admin">
          <a ng-href="{{item.link}}">
            <md-item-content md-ink-ripple layout="row" layout-align="start center">
              <div class="inset">
                <ng-md-icon icon="{{item.icon}}"></ng-md-icon>
              </div>
              <div class="inset">{{item.title}}
              </div>
            </md-item-content>
          </a>
      </md-item>
    </md-list>
  </md-sidenav>