<div layout="column" layout-fill layout-align="center center">
  <div layout-align="center" class="md-padding" layout="row">
    <md-content flex layout="column">
      <div layout="row" layout-padding layout-align="center">
        <div flex="66" class="body">
          <img src="img/unam_256_grey.png" alt="unam logo">
          <h1 class="title">Posgrado Psicología</h1>
            <p>Integer quis ante scelerisque dolor mollis pharetra. Curabitur varius arcu eu odio gravida fringilla. Aenean vitae risus vitae quam volutpat congue. Maecenas a quam lobortis, vehicula augue sed, ultrices ipsum. Mauris vestibulum iaculis maximus. Praesent quis ultricies nibh. Praesent eget lobortis arcu. Vestibulum urna nibh, convallis at ultrices sed, porttitor eget est. Ut at lectus leo. Aenean fermentum risus eget neque iaculis, et tristique magna cursus. Donec rutrum ligula ut diam semper volutpat. Quisque at elit massa. Donec ac feugiat ligula. Aliquam hendrerit auctor pretium. Sed venenatis erat et porta tempor. Mauris finibus scelerisque lacus, ac bibendum nisl suscipit non. Mauris a metus dolor. Donec scelerisque mauris neque, facilisis tincidunt odio facilisis et. Vestibulum sapien sem, condimentum nec leo in, blandit feugiat eros. Donec eget venenatis purus. Mauris leo neque, laoreet ut purus ac, commodo convallis magna. Praesent sit amet sagittis augue.</p>
            <div layout-align="center" layout="row">
              <a class="small" ng-href="#/"><md-icon md-svg-icon="arrow_back"></md-icon> regresar a inicio</a> 
            </div>
        </div>
      </div>
    </md-content>
  </div>
</div>