<div layout="column" layout-fill layout-align="center center">
  <div layout-align="center" class="md-padding" layout="row">
    <md-content flex layout="column">
      <div layout="row" layout-padding layout-align="center">
        <div flex="75" class="body">
          <div class="panel panel-default credit-profile">
                  <div class="panel-heading panel-profile" style="background-color: #028299;">
                  </div>
                  <div class="panel-body text-center panel-profile-text">
                      <img gravatar-src="email" gravatar-size="100" alt="{{ alias }}" class="img-circle panel-profile-img">
                      <h5 class="panel-title">{{ author }}</h5>
                      <p><i>{{ slogan }}</i></p>
                      <a role="button" class="btn btn-primary btn-xs" href="{{url}}"><i>{{ contact}}</i></a>
                  </div>
              </div>
            <div layout-align="center" layout="row">
              <a class="small" ng-href="#/"><md-icon md-svg-icon="arrow_back"></md-icon> regresar a inicio</a> 
            </div>
        </div>
      </div>
    </md-content>
  </div>
</div>