<div layout="column" layout-fill layout-align="center center">
  <div layout-align="center" class="md-padding" layout="row">
    <md-content flex layout="column">
      <div layout="row" layout-padding layout-align="center">
        <div flex="75" class="body">
          <img src="img/unam_256_grey.png" alt="unam logo">
          <h1 class="title">Directorio UNAM</h1>
            <ul class="credits">
                <li>Dr. Enrique Graue Wiechers</li>
                <li>RECTOR</li>
                <li>Dr. Leonardo Lomelí Vanegas</li>
                <li>SECRETARIO GENERAL</li>
                <li>Ing. Leopoldo Silva Gutiérrez</li>
                <li>SECRETARIO ADMINISTRATIVO</li>
                <li>Dr. Alberto Ken Oyama Nakagawa</li>
                <li>SECRETARIO DE DESARROLLO INSTITUCIONAL</li>
                <li>Dr. César Iván Astudillo Reyes</li>
                <li>SECRETARIO DE SERVICIOS A LA COMUNIDAD</li>
                <li>Dra. Mónica González Contró</li>
                <li>ABOGADO GENERAL</li>
                <li>Lic. Néstor Martínez Cristo</li>
                <li>DIRECTOR GENERAL DE COMUNICACIÓN SOCIAL</li>
              </ul>
            <div layout-align="center" layout="row">
              <a class="small" ng-href="#/"><md-icon md-svg-icon="arrow_back"></md-icon> regresar a inicio</a> 
            </div>
        </div>
      </div>
    </md-content>
  </div>
</div>