<div layout="column" layout-fill layout-align="center center">
  <div layout-align="center" class="md-padding" layout="row">
    <md-content flex layout="column">
          <img src="img/unam_256_grey.png" alt="unam logo">
          <h1 class="title">Posgrado Psicología</h1>
          <form name="form">
            <md-input-container class="md-block" flex-gt-xs>
              <label>Usuario</label>
              <input name="user_email" ng-model="user_email" type="email" required autofocus>
              <div ng-messages="form.user_email.$error">
                  <div ng-message="required">Campo requerido.</div>
              </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
              <label>Contraseña</label>
              <input name="user_password" ng-model="user_password" type="password" required>
              <div ng-messages="form.user_password.$error">
                  <div ng-message="required">Es necesario.</div>
              </div>
            </md-input-container>
          </form>
          <section layout-align="center" layout="row">
            <md-button flex ng-disabled="!form.$valid" class="md-raised md-primary md-hue-2" ng-click="login()">Ingresar</md-button>
          </section>
          <section layout-align="center" layout="row">
            <p>Todavia no tienes cuenta, registrate</p> 
          </section>
          <section layout-align="center" layout="row">
            <a class="small" ng-href="#/"><md-icon md-svg-icon="arrow_back"></md-icon> regresar a inicio</a> 
          </section>
    </md-content>
  </div>
</div>