<md-toolbar layout="row">
  <md-button class="menu" hide-gt-sm ng-click="ul.toggleList()" aria-label="Show User List">
    <md-icon md-svg-icon="menu" ></md-icon>
  </md-button>
  <h1>UNAM ::. Posgrado Psicología</h1>
</md-toolbar>
<div layout-align="space-between stretch" layout="column">
  <div class="jumbotron">
    <div class="jumbotron-text">
      <h1>Bienvenido...</h1>
      <p>Sistema de control de posgrado psicología.</p>
    </div>
  </div>
  <div flex>
    <h1>Bienvenido...</h1>
    <p>Sistema de control de posgrado psicología.</p>
  </div>
</div>