<h3 class="main-title">{{ title }}</h3>

    <div class="panel panel-default credit-profile">
        <div class="panel-heading panel-profile" style="background-color: #028299;">
        </div>
        <div class="panel-body text-center panel-profile-text">
            <img gravatar-src="email" gravatar-size="100" alt="{{ alias }}" class="img-circle panel-profile-img">
            <h5 class="panel-title">{{ author }}</h5>
            <p><i>{{ slogan }}</i></p>
            <a role="button" class="btn btn-primary btn-xs" href="{{url}}"><i>{{ contact}}</i></a>
        </div>
    </div>