<div class="well">
    <span class="glyphicon glyphicon-hand-up" aria-hidden="true"></span>
      <span><strong>Hecho en México, Universidad Nacional Autónoma de México (UNAM)</strong>, todos los derechos reservados 2015.</span>
      <span class="md-subhead">Esta página puede ser reproducida con fines no lucrativos, siempre y cuando no se mutile, se cite la fuente completa y su dirección electrónica.</span>
      <span class="md-subhead">De otra forma, requiere permiso previo por escrito de la institución.</span>
 </div>