<div class="jumbotron">
  <h1>Bienvenido...</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut volutpat erat lacinia malesuada vulputate. Nam consequat lectus sit amet elit lobortis, ut aliquet odio varius. Nulla facilisi. Nunc vel nunc nunc. Fusce in orci ut elit pulvinar sodales nec in ligula. Mauris porttitor mollis sapien, eget sodales felis. Donec vehicula convallis sem, sed iaculis neque consectetur eu. Sed convallis nisl a semper sollicitudin. Vivamus eget eros id ligula pretium interdum et nec eros. Aenean eget dui rhoncus, sollicitudin elit non, sodales diam.</p>
  
</div>