<div ng-include=" 'templates/partials/back.html' "></div>
<md-content layout-padding>
    <form name="form">
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Nueva contraseña</label>
                <input name="user_password" ng-model="item.user_password" type="password" ng-change="change()" md-minlength="8" required>
                <div ng-messages="form.user_password.$error">
                    <div ng-message="md-minlength">El campo debe tener al menos 8 caracteres de longitud</div>
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Verificar contraseña</label>
                <input name="user_verify" ng-model="item.user_verify" type="password" ng-change="change()" md-minlength="8" required data-password-verify="user_password">
                <div ng-messages="form.user_verify.$error">
                    <div ng-message="md-minlength">El campo debe tener al menos 8 caracteres de longitud</div>
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
        </div>
    </form>
</md-content>
<md-button  ng-disabled="!form.$valid" class="md-fab md-fab-bottom-right" ng-click="save()">    
  <md-icon md-svg-icon="check"></md-icon>
  <md-tooltip md-direction="top"> Aceptar </md-tooltip>
</md-button>  