<h1>{{ title }}</h1>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">{{ student.student_firstname }} {{ student.student_lastname }}</h3>
  </div>
  <div class="panel-body">
    <img gravatar-src="student.student_email" gravatar-size="100" alt="{{ student.student_account }}" class="img-circle">
  </div>
  <table class="table">
    <tr><td>Número de cuenta:</td><td>{{ student.student_account }}</td></tr>
    <tr><td>Correo electrónico:</td><td><i>{{ student.student_email }}</i></td></tr>
    <tr><td>Número telefónico:</td><td>{{ student.student_phone }}</td></tr>
    <tr><td>Sexo:</td><td>{{ student.student_genere }}</td></tr>
    <tr><td>Edad:</td><td>{{ student.student_age }} años</td></tr>
    <tr><td>Entidad de nacimiento:</td><td>{{ student.student_nationality }}</td></tr>
    <tr><td>Fecha de nacimiento:</td><td>{{ student.student_birthday | date:'fullDate' }}</td></tr>
    <tr><td>Contraseña por defecto:</td><td>{{ student.student_password }}</td></tr>
    <tr><td>CURP:</td><td>{{ student.student_curp }}</td></tr>
  </table>
</div>