<h3 class="main-title">{{ title }}</h3>
<form class="form-inline">
    <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
        <input type="search" class="form-control input-lg" placeholder="buscar..." ng-model="data.searchQuery">
    </div>
</form>
  <table class="table table-hover table-condensed">  
        <thead><tr><th>{{ subtitle }}</th></tr></thead>
        <tbody>
          <tr ng-repeat="student in students | filter: data.searchQuery" href="#/students/{{student.student_account}}">
            <td class="main-list">{{ student.student_firstname }} {{ student.student_lastname }}<h6>{{ student.student_account }}</h6></td>
            <td><i>{{ student.student_email }}</i></td>
            <td><a class="btn btn-primary btn-sm" href="#/students/{{ student.student_account}}" role="button">info</a></td>
            <td><a class="btn btn-danger btn-sm" href="#/students/{{ student.student_account}}" role="button">editar</a></td>
          </tr>
        </tbody>
  </table>