<h3 class="main-title">{{ title }}</h3>
<form class="form-inline">
    <div class="input-group">
        <div class="input-group-addon"><span class="glyphicon glyphicon-search" aria-hidden="true"></span></div>
        <input type="search" class="form-control input-lg" placeholder="buscar..." ng-model="data.searchQuery">
    </div>
</form>
  <table class="table table-hover table-condensed">  
        <thead><tr><th>{{ subtitle }}</th></tr></thead>
        <tbody>
          <tr ng-repeat="student in students | filter: data.searchQuery" onclick="javascript:alert({{student.student_account}})">
            <td class="main-list">
                <img gravatar-src="student.student_email" gravatar-size="48" alt="{{ student.student_account }}" class="list-profile-img">
                <p>{{ student.student_firstname }} {{ student.student_lastname }}</p>
                <h6>{{ student.student_account }}</h6>
                <h6><i>{{ student.student_email }}</i></h6>
            </td>
            <td>
                <a class="btn btn-primary btn-sm" href="#/students/{{ student.student_account}}" role="button">
                  <span class="glyphicon glyphicon-pencil" aria-hidden="true"></span>
                </a>
            </td>
          </tr>
        </tbody>
  </table>