<div ng-include=" 'templates/partials/back.html' "></div>
<md-content layout-padding>
    <form name="userForm">
        <div layout-gt-sm="row">
            <md-switch ng-true-value="1" class="md-primary" ng-model="item.teacher_enable" aria-label="habilitado" ng-change="change()">
                Habilitado
            </md-switch>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Facultad de adscripción</label>
                <md-select ng-model="item.school_id" ng-change="change()">
                    <md-option ng-repeat="school in list1" value="{{ school.school_id }}">
                    {{ school.school_name }}
                    </md-option>
                </md-select>
                <br>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Campo de estudio</label>
                <md-select ng-model="item.field_id" ng-change="change()">
                    <md-option ng-repeat="field in list2" value="{{ field.field_id }}">
                    {{ field.field_name }}
                    </md-option>
                </md-select>
                <br>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Grado academico</label>
                <md-select ng-model="item.grade_id" ng-change="change()">
                    <md-option ng-repeat="grade in list3" value="{{ grade.grade_id }}">
                    {{ grade.grade_name }}
                    </md-option>
                </md-select>
                <br>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Nombre</label>
                <input ng-model="item.teacher_firstname" ng-change="change()">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Apellidos</label>
                <input ng-model="item.teacher_lastname" ng-change="change()">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Correo electrónico</label>
                <input ng-model="item.teacher_email" ng-change="change()">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Teléfono</label>
                <input ng-model="item.teacher_phone" ng-change="change()">
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>CURP</label>
                <input ng-model="item.teacher_curp" ng-change="change()">
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block">
                <label>Extracto curricular</label>
                <textarea ng-model="item.teacher_cv" md-maxlength="250" rows="5" ng-change="change()" md-select-on-focus></textarea>
            </md-input-container>
        </div>
    </form>
</md-content>
<md-button class="md-fab md-fab-bottom-right" ng-click="save()">    
  <md-icon> check </md-icon>
  <md-tooltip md-direction="top"> Aceptar </md-tooltip>
</md-button>  