<div ng-include=" 'templates/partials/toolbar.html' "></div>
<div ng-include=" 'templates/partials/sidebar.html' "></div>
<md-toolbar class="md-hue-3" md-scroll-shrink>
    <md-input-container class="md-icon-float md-block">
        <label>Buscar...</label>
        <md-icon> search </md-icon>
        <input ng-model="searchQuery" md-detect-hidden autofocus>
    </md-input-container>
</md-toolbar>
<md-content>
  <md-list>
    <md-subheader>Profesores activos</md-subheader>
      <md-list-item md-ink-ripple class="md-3-line" ng-repeat="item in items | filter: searchQuery | filter: { teacher_enable: 1 }">
        <img gravatar-src="item.teacher_email" class="md-avatar" alt="{{ item.teacher_email }}">
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.teacher_firstname }} {{ item.teacher_lastname }}</h3>
          <h4>{{ item.school_name }}</h4>
          <p>{{ item.teacher_email }}</p>
        </div>
        <div ng-include=" 'templates/partials/menu.html' "></div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
      <md-subheader>Profesores inactivos</md-subheader>
      <md-list-item md-ink-ripple class="md-3-line" ng-repeat="item in items | filter: searchQuery | filter: { teacher_enable: 0 }">
        <img gravatar-src="item.teacher_email" class="md-avatar" alt="{{ item.teacher_email }}">
        <div class="md-list-item-text" layout="column">
          <h3>{{ item.teacher_firstname }} {{ item.teacher_lastname }}</h3>
          <h4>{{ item.school_name }}</h4>
          <p>{{ item.teacher_email }}</p>
        </div>
        <div ng-include=" 'templates/partials/menu.html' "></div>
        <md-divider ng-if="!$last"></md-divider>
      </md-list-item>
  </md-list>
</md-content>
<md-button class="md-fab md-mini md-fab-top-right md-warn" ng-click="clear()">    
  <md-icon>clear</md-icon>
  <md-tooltip md-direction="top"> Limpiar busqueda </md-tooltip>
</md-button>
<md-button class="md-fab md-fab-bottom-right" ng-click="add()">    
  <md-icon>add</md-icon>
  <md-tooltip md-direction="top"> Agregar </md-tooltip>
</md-button>  
 