<div ng-include=" 'templates/partials/back.html' "></div>
<md-content layout-padding>
    <form name="form">
        <div layout-gt-sm="row">
            <md-switch ng-true-value="1" class="md-primary" ng-model="item.teacher_enable" aria-label="habilitado" ng-change="change()">
                Habilitado
            </md-switch>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Facultad de adscripción</label>
                <md-select ng-model="item.school_id" ng-change="change()">
                    <md-option ng-repeat="school in list1" value="{{ school.school_id }}">
                    {{ school.school_name }}
                    </md-option>
                </md-select>
                <br>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Campo de estudio</label>
                <md-select ng-model="item.field_id" ng-change="change()">
                    <md-option ng-repeat="field in list2" value="{{ field.field_id }}">
                    {{ field.field_name }}
                    </md-option>
                </md-select>
                <br>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Grado academico</label>
                <md-select ng-model="item.grade_id" ng-change="change()">
                    <md-option ng-repeat="grade in list3" value="{{ grade.grade_id }}">
                    {{ grade.grade_name }}
                    </md-option>
                </md-select>
                <br>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Nombre</label>
                <input name="teacher_firstname" ng-model="item.teacher_firstname" type="text" ng-change="change()" capitalize md-maxlength="45" required>
                <div ng-messages="form.teacher_firstname.$error">
                    <div ng-message="md-maxlength">El campo debe de ser de menos de 45 caracteres de longitud</div>
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Apellidos</label>
                <input name="teacher_lastname" ng-model="item.teacher_lastname" type="text" ng-change="change()" capitalize md-maxlength="45" required>
                <div ng-messages="form.teacher_lastname.$error">
                    <div ng-message="md-maxlength">El campo debe de ser de menos de 45 caracteres de longitud</div>
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Correo electrónico</label>
                <input name="teacher_email" ng-model="item.teacher_email" type="email" ng-change="change()" md-maxlength="45" required>
                <div ng-messages="form.teacher_email.$error">
                    <div ng-message="md-maxlength">El campo debe de ser de menos de 45 caracteres de longitud</div>
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>Teléfono</label>
                <input name="teacher_phone" ng-model="item.teacher_phone"type="phone" ng-change="change()" ng-pattern="/^[0-9]{10}$/" md-maxlength="10">
                <div ng-messages="form.teacher_phone.$error">
                    <div ng-message="md-pattern">El campo debe de ser un numero teléfonico</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>CURP</label>
                <input name="teacher_curp" ng-model="item.teacher_curp" type="text" ng-change="change()" capitalize md-maxlength="18" required>
                <div ng-messages="form.teacher_curp.$error">
                    <div ng-message="md-maxlength">El campo debe de ser un CURP valido</div>
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
            <md-input-container class="md-block" flex-gt-xs>
                <label>RFC</label>
                <input name="teacher_rfc" ng-model="item.teacher_rfc" type="text" ng-change="change()" capitalize md-maxlength="13" required>
                <div ng-messages="form.teacher_rfc.$error">
                    <div ng-message="md-maxlength">El campo debe de ser un RFC valido</div>
                    <div ng-message="required">Campo requerido.</div>
                </div>
            </md-input-container>
        </div>
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>CVU</label>
                <input name="teacher_cvu" ng-model="item.teacher_cvu" type="text" ng-change="change()" ng-pattern="/^[0-9]{5}$/" md-maxlength="5">
                <div ng-messages="form.teacher_cvu.$error">
                    <div ng-message="md-pattern">Ingrese un valor valido</div>
                </div>
            </md-input-container>
        </div>    
        <div layout-gt-sm="row">
            <md-input-container class="md-block" flex-gt-xs>
                <label>Extracto curricular</label>
                <textarea name="teacher_cv" ng-model="item.teacher_cv" md-maxlength="2048" rows="5" ng-change="change()" md-select-on-focus></textarea>
            </md-input-container>
        </div>
    </form>
</md-content>
<md-button  ng-disabled="!form.$valid" class="md-fab md-fab-bottom-right" ng-click="save()">    
  <md-icon md-svg-icon="check"></md-icon>
  <md-tooltip md-direction="top"> Aceptar </md-tooltip>
</md-button>  