<div ng-include=" 'templates/partials/toolbar.html' "></div>
<div flex layout="row">
  <div ng-include=" 'templates/partials/sidebar.html' "></div>
  <div flex layout="column">
    <div md-scroll-shrink>
        <md-input-container layout-margin class="md-icon-float md-block">
            <label>Buscar...</label>
            <md-icon md-svg-icon="search"></md-icon>
            <input ng-model="searchQuery" md-detect-hidden md-select-on-focus autofocus>
        </md-input-container>
    </div>
    <md-content>
      <md-progress-linear class="md-warn" md-mode="indeterminate" ng-hide="bar"> Cargando... </md-progress-linear>
      <md-list>
        <md-subheader>Usuarios</md-subheader>
          <md-list-item md-ink-ripple class="md-3-line" ng-repeat="item in items | filter: searchQuery">
            <img gravatar-src="item.user_email" class="md-avatar" alt="{{ item.user_email }}">
            <div class="md-list-item-text" layout="column">
              <h3>{{ item.user_name }}</h3>
              <h4>{{ item.school_name }}</h4>
              <p>{{ item.user_email }}</p>
            </div>
            <div class="md-secondary md-icon-button" ng-include=" 'templates/partials/menu-users.html' "></div>
            <md-divider ng-if="!$last"></md-divider>
          </md-list-item>
      </md-list>
    </md-content>
    <md-button class="md-fab md-mini md-fab-top-right md-warn" ng-click="clear()" ng-disabled="!searchQuery">    
      <md-icon md-svg-icon="clear" class="s18"></md-icon>
      <md-tooltip md-direction="top"> Limpiar busqueda </md-tooltip>
    </md-button>
    <md-button class="md-fab md-fab-bottom-right" ng-click="add()">    
      <md-icon md-svg-icon="add"></md-icon>
      <md-tooltip md-direction="top"> Agregar </md-tooltip>
    </md-button>
  </div>  
</div>